<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       xmlns:p="http://www.springframework.org/schema/p">

       <bean id="duke" class="com.springinaction.springidol.Juggler"/>

       <bean id="duke15"
             class="com.springinaction.springidol.Juggler">
              <constructor-arg value="15" />
       </bean>

       <bean id="sonet29_bean" class="com.springinaction.springidol.Sonet29"/>

       <bean id="jackie_chan" class="com.springinaction.springidol.PoeticJuggler">
              <constructor-arg value="16"/>
              <constructor-arg ref="sonet29_bean"/>
       </bean>

       <bean id="theStage" class="com.springinaction.springidol.Stage" factory-method="getInstance"/>

       <bean id="Ticket" class="com.springinaction.springidol.Ticket" scope="prototype"/>

       <bean id="theAuditorium"
             class="com.springinaction.springidol.Auditorium"
             init-method="turnLightOn"
             destroy-method="turnLightOff"/>

       <bean id="saxophone" class="com.springinaction.springidol.Saxophone"/>

       <bean id="scooter" class="com.springinaction.springidol.Instrumentalist"
             p:song="How Much is the fish"
               p:instrument-ref = "saxophone"/>


       <bean id="individualInstrument" class="com.springinaction.springidol.Instrumentalist">
              <property name="song" value="Мы начинаем КВН. для чего... для кого..."/>
              <property name="instrument">
                     <bean class="com.springinaction.springidol.Saxophone"/>
              </property>
       </bean>

       <bean id="drum" class="com.springinaction.springidol.Drum"/>

       <bean id="hank" class="com.springinaction.springidol.OneManBand">
              <property name="instruments">
                     <list>
                            <ref bean="saxophone"/>
                            <ref bean="drum"/>
                     </list>
              </property>
       </bean>



</beans>